/* adjust this to make the modal appear higher up on the page */
.modal { 
    display: block;
  }
  
  .modal-backdrop {
    z-index: -1;
  }
  
  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
  }
  
  .modal-header .close {
    margin-left: auto;
  }
  
  .modal-body {
    margin-top: 10px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  